@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/*header{
		display: none;
	}*/
	.navigation .menu-icon {
	  color: white;
	  display: block;
	  font-size: 30px;
	  line-height: 1em;

	  position: absolute;
	  left: 100%;
	  padding: 20px;

	  -webkit-transition: all .15s ease-in-out;
	  -moz-transition: all .15s ease-in-out;
	  -o-transition: all .15s ease-in-out;
	  transition: all .15s ease-in-out;
	}

	.navigation .menu-icon.active {
	  background-color: rgba(0,0,0, .3);
	}
	.navigation .menu-icon:hover {
	  color: #222;
	  background-color: transparent;
	}

	.navigation.active {
	  -webkit-transform: translateX(0);
	  -moz-transform: translateX(0);
	  -ms-transform: translateX(0);
	  -o-transform: translateX(0);
	  transform: translateX(0);
	}

	.navigation {
	  position: fixed;
	  top: 0; left: 0; bottom: 0;
	  height: 100%;
	  z-index: 999;
	  width: 200px;
	  -webkit-transform: translateX(-100%);
	  -moz-transform: translateX(-100%);
	  -ms-transform: translateX(-100%);
	  -o-transform: translateX(-100%);
	  transform: translateX(-100%);

	  -webkit-transition: all .5s ease-in-out;
	  -moz-transition: all .5s ease-in-out;
	  -o-transition: all .5s ease-in-out;
	  transition: all .5s ease-in-out;
	}

	.navigation ul {
	  list-style: none;
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  margin: 0;
	  width: 100%;
	  background: #222;
	  height: 100%;
	  padding: 0;
	}
	.navigation ul li {
	  display: block;
	  text-align: center;
	  margin: 0;
	}
	.navigation ul li a {
	  display: block;
	  height: auto;
	  text-decoration: none;
	  text-transform: uppercase;
	  color: #fff;
	  font-weight: 900;
	}

	.navigation ul li a.current,
	.navigation ul li a:hover {
	  color: #222;
	  background-color: #fff;
	}

	.navigation .main-navigation{
		padding: 0;
	}

	.navigation li:hover .submenu{
		display: none;
	}
	.navigation .submenu {
	    margin-top: 95px
	}

	.navigation .nav-dropdown::after{
		content: "\f106";
		font-family: FontAwesome;
		position: absolute;
		color: blue;
		padding: 0;
		padding-top: 0px;
		padding-bottom: 0px;
		display: block;
		width: 20%;
		right: 0;
		margin-top: -45px;
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.o-nama{
		flex-direction: column;
	}

	.box{
		width: auto;
	}

	.delatnost-wrap{
		flex-direction: column;
	}

	.box-o-nama{
		width: auto;
	}

	.vise-o-temi{
		padding: 50px 0;
		font-size: 13px;
	}

	.footer-content{
		flex-direction: column;
	}

	.footer-social-links, .footer-links, .footer-contact-us{
		width: auto;
		padding: 0;
		margin: auto;
		text-align: center;

	}

	.footer-social-links i{
		margin: auto;
	}

}