body{
	margin: 0;
}

ul{
	margin: 0;
/*	padding: 0;
*/}
/* Header */
header{
	background-color: #990000;
	color: #fff;
}
.important-info{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img{
	height: 100px;
}

.mob-mail-info p{
	display: inline-block;
}
.mob-mail-info, .social-links{
	padding: 15px;
}

.mob-mail-info i{
	padding-right: 8px;
	font-size: 20px;
	color: #fff;
}

.mob-mail-info i:last-child{
	padding-left: 15px;
}

.social-links i{
	padding-left: 8px;
	padding-right: 8px;
	font-size: 20px;
	color: #fff;
}

.social-links a{
	text-decoration: none;
}

.social-links i:hover{
	color: #191919;
}

/* Navigation */
nav{
	background-color: #191919;
	color: #fff;
}

.navigation .menu-icon{
	display: none;
}

.navigation {
	position: relative;
	margin: auto;
	width: 80%;
}

.navigation .main-navigation{
	padding: 15px;
}

.navigation ul li{
	list-style: none;
	display: inline;
}

.navigation a{
	text-decoration: none;
	color: #fff;
	padding: 15px;
}

.navigation a:hover{
	background-color: #990000;
	padding: 15px;
}

.submenu {
    display: none;
    margin-top: 15px;
    position: absolute;
    left: 112px;
    background-color: #191919;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
}

.submenu a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
    display: block;
}

.submenu a:hover {
	background-color: #990000;
}

.navigation li:hover .submenu{
    display: block;
}

/* Main */

main{
	overflow: hidden;
	clear: both;
}

/* O Nama */
.o-nama{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 0 20px 0;
}

.box{
	width: 30%;
	margin: 10px auto;
}

.box img{
	height: 250px;
	width: 100%;
}

.box .bg-img{
	background-image: url("images/who-are-we.jpg");
}

.box h2{
	color: #990000;
}

/* Banner */

.banner{
	background-image: url("../images/ingenium-banner.jpg");
	min-height: 400px;
	background-size: 100% 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Delatnost */
.delatnost{
	margin: auto;
	background-color: #ededed;
}

.delatnost-wrap{
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 20px;
}

.box-o-nama{
	width: 30%;
	margin: 0 auto;
}

.box-o-nama h2{
	color: #990000;
}

.box-o-nama h3{
	color: #191919;
}

.vise-o-temi{
	text-align: center;
	padding: 50px;
	font-size: 15px;
}

.vise-o-temi a{
	text-decoration: none;
	text-align: center;
	margin: auto;
	color: #191919;
	font-weight: bold;
	border: 2px solid #191919;
	padding: 21px 34px;
}

.vise-o-temi a:hover{
	background-color: #191919;
	color: #fff;
}

/* Projektovanje */
.projektovanje{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.projektovanje h2{
	color: #990000;
}

/* Izgradnja */

.izgradnja{
	background-color: #ededed;
}

.izgradnja-wrap{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.izgradnja h2{
	color: #990000;
}

/* Inzenjering */
.inzenjering{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.inzenjering h2{
	color: #990000;
}

footer{
	background-image: url('../images/new-york.jpg');
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
}

.footer-content{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.footer-social-links, .footer-links, .footer-contact-us{
	width: 25%;
	padding: 50px 0 50px 0;
	z-index: 1;
	color: #fff;
}

.footer-social-links i{
	color: #990000;
	font-size: 32px;
	padding-right: 8px;
}

.footer-social-links i:hover{
	color: #fff;
}

.company-name{
	color: #990000;
}

.footer-links a{
	text-decoration: none;
	color: #fff;
}

.footer-links ul{
	margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

.footer-links li:before{
	content: "";
    border-color: transparent #fff;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.footer-contact-us i{
	width: 18px;
	font-size: 20px;
	padding-right: 8px;
}

.copyright{
	background-color: #191919;
	padding: 20px;
	margin: auto;
	text-align: center;
	color: #fff;
}

.copyright a{
	text-decoration: none;
	color: #990000;
}

.copyright a:hover{
	color: #fff;
}

/* Back to Top */

#back2Top {
    width: 50px;
    line-height: 50px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    background-color: #990000;
    color: #fff;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #858585;
    color: #000;
}

/* Contact Map */
.contact{
	width: 80%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.contact-info h2, i{
	color: #990000;
}

.contact-info p{
	display: flex;
	align-items: center;
}

.contact-info i{
	font-size: 30px;
	width: 36px;
	padding: 8px;
	height: 36px;
	text-align: center;
}
#map {
    width: 50%;
    height: 400px;
    background-color: grey;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

/* O Nama */

.o-nama-banner{
	background-image: url('../images/about-us.jpg');
	min-height: 400px;
	background-size: 100% 100%;
	position: relative;
}

.banner-text{
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    margin: auto;
    right: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 80%;
}

.info-o-nama{
	width: 80%;
	margin: auto;
	border-bottom: 2px solid #d3d3d3;
	padding: 20px 0 20px 0;
}

.info-o-nama h2{
	color: #990000;
}

.osnovni-podaci-wrap{
	width: 80%;
	margin: auto;
	display: flex;
}

.flex-nested{
	display: flex;
  	flex-direction: column;
  	padding-right: 20px;
  	flex-basis: 50%;
}

.osnovni-podaci-wrap .podaci-box{
	border-bottom: 2px solid #d3d3d3;
	padding-top: 20px;
}

.osnovni-podaci-wrap .podaci-box h3{
	color: #990000;
}

.osnovni-podaci-wrap .osnovni-podaci{
	padding: 20px 0 20px 20px;
	flex-basis: 50%;
}

.osnovni-podaci-wrap .osnovni-podaci h2{
	color: #990000;
}

.bold{
	font-weight: bold;
	color: #191919;
}

/* Projektovanje */

.projektovanje-banner{
	background-image: url('../images/project-design.jpg');
	min-height: 400px;
	background-size: 100% 100%;
	position: relative;
}

.projektovanje-info{
	width: 80%;
	margin: auto;
	padding: 20px 0 20px 0;
}

ul.tabs{
	margin: auto;
	padding: 0;
	list-style: none;
	text-align: center;
	border-bottom: 1px solid #d3d3d3;
}

ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	color: #222;
	border-bottom: 2px solid #990000;
}

.tab-content{
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

.projektovanje-info h2{
	color: #990000;
}
