@font-face {
  font-family: 'FontAwesome';
  src: url('font/font-awesome/fa-brands-400.ttf')  format('truetype');
  src: url('font/font-awesome/fa-brands-400.woff')  format('truetype');
  src: url('font/font-awesome/fa-regular-400.ttf')  format('truetype');
  src: url('font/font-awesome/fa-regular-400.woff')  format('truetype');
  src: url('font/font-awesome/fa-regular-400.eot')  format('truetype');
  src: url('font/font-awesome/fa-regular-400.woff2')  format('truetype');
  src: url('font/font-awesome/fa-regular-400.svg')  format('truetype');
}